.teacher {
  background-color: black;
  padding-top: 150px;
  padding-bottom: 20px;
}

// .teacher__block {

// }

.teacher__header {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 100px;
}

.teacher__header::before {
  content: url(../../img/duga-.png);
  margin-right: 30px;
}

.mark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.mark__list {
  list-style-type: none;
  text-align: center;
}

.mark__image {
  display: block;
  width: 190px;
  height: 190px;
}



.mark__header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 0;
}

.mark__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
  margin-top: 0;
  margin-bottom: 20px;
}

.mark__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.mark__link:hover {
  background-color: gray;
  color: black;
}

.mark__link:active {
  color: lightblue;
}